<% include partials/_header %>

<div class="container">

    <div class="row mt-5">

    <div class="col-md-7"> 

        <table>
            <thead>
            
                <tr>idnroVuelo </tr>
                <tr> origen </tr>
                <tr> destino </tr>
                <tr> hsalida </tr> 
                <tr> hllegada </tr>
                <tr> idvuelo </tr>
                <tr> action </tr>

            </thead>

            <tbody>

                <% if (data) { %>
                    <% for(var i=0; i < data.lenght; i++) { %>
                        <tr>

                        <td> <%= (i+1)  %> </td>
                        <td> <%= data[i].origen %> </td>
                        <td> <%= data[i].destino  %> </td>
                        <td> <%= data[i].hsalida  %> </td>
                        <td> <%= data[i].hllegada %> </td>
                        <td> <%= data[i].idvuelo  %> </td>

                        <td>
                            <a href="scr/controllers/controlvuelo.js/delete/<%= data[i].id %>" class= "btn btn-danger" >borrar  </a>
                            
                        </td>

                        </tr>

            <% }%>
                        <% }%>
            </tbody>

        </table>

     </div>

     <div class="col-md-5">


     </div>

     <form action="/scr/routes/vuelos.js/add"  action="/scr/routes/vuelos.js/update" method="post">

        <div class="form-group">
       
           <input type="text" name="origen" placeholder="origen" class="form-control">

        </div>

        <div class="form-group">
       
            <input type="text" name="destino" placeholder="destino" class="form-control">
 
         </div>

         <div class="form-group">
       
            <input type="number" name="hsalida" placeholder="hsalida" class="form-control">
 
         </div>

         <div class="form-group">
       
            <input type="number" name="hllegada" placeholder="hllegada" class="form-control">
 
         </div>

         <div class="form-group">
       
            <input type="number" name="idvuelo" placeholder="idvuelo" class="form-control">
 
         </div>

         <button type="submit" class="btn btn-primary" action ="/scr/routes/vuelos.js/add">
             Reservar vuelo
         </button>

         <button type="submit" class="btn btn-info" action ="/scr/routes/vuelos.js/update" >
            Actualizar
        </button>
       
       </form>

    </div>

</div>

<li> <a href="/scr/views/consultas/select.ejs"> para realizar demas consultas </a></li>

<li> <a href="/scr/views/consultas/select1.ejs"> para realizar demas consultas </a></li>

<li> <a href="/scr/views/consultas/select2.ejs"> para realizar demas consultas </a></li>

<li> <a href="/scr/views/consultas/select3.ejs"> para realizar demas consultas </a></li>

<li> <a href="/scr/views/consultas/select4.ejs"> para realizar demas consultas </a></li>


<% include partials/_body %>